<!--[if lt IE 10]>
            <p class="browsehappy">
                Sie verwenden einen <strong>veralteten</strong> Browser.
                Bitte <a href="http://browsehappy.com/">Aktualisieren Sie Ihren Browser</a> für eine bessere Nutzererfahrung!
            </p>
        <![endif]-->

<noscript>
    <div>
        Um den vollen Funktionsumfang dieser Webseite zu erfahren, benötigen Sie JavaScript. Eine Anleitung wie Sie JavaScript in
        Ihrem Browser einschalten, befindet sich
        <a href="http://www.enable-javascript.com/de/" target="_blank">hier</a>.
    </div>
</noscript>